<h1 th:text="${siteName}"></h1>

<form method="POST" action="doWrite" th:object="${form}">
    <ul th:if="${#fields.hasAnyErrors()}">
        <li th:each="err : ${#fields.allErrors().stream().sorted()}"
            th:with="errStrs = ${err.split('-', 3)},
                    errFieldName = ${errStrs[1]},
                    errMsg = ${errStrs[2]}"
            th:data-error-field-name="${errFieldName}" th:text="${errMsg}"
            style="color: red;"/>
    </ul>

    <div>
        <label for="title">제목</label><br>
        <input type="text" placeholder="제목" autofocus th:field="*{title}">
    </div>
    <div>
        <label for="content">내용</label><br>
        <textarea placeholder="내용" th:field="*{content}"></textarea>
    </div>
    <input type="submit" value="작성">
</form>