<h1 th:text="${siteName}"></h1>

<ul style="color: red;">
    <th:block th:utext="${errorMessage}"></th:block>
</ul>

<form method="POST" action="doWrite">
    <div>
        <label for="title">제목</label><br>
        <input type="text" name="title" id="title" placeholder="제목" autofocus th:value="${form.title}">
    </div>
    <div>
        <label for="content">내용</label><br>
        <textarea name="content" id="content" placeholder="내용" th:text="${form.content}"></textarea>
    </div>
    <input type="submit" value="작성">
</form>

<script>
    // 현재까지 나온 모든 폼 검색
    const forms = document.querySelectorAll('form');
    // 그 중에서 가장 마지막 폼 1개 찾기
    const lastForm = forms[forms.length - 1];

    const errorFieldName = lastForm.previousElementSibling?.querySelector('li')?.dataset?.errorFieldName || '';

    if (errorFieldName.length > 0) {
        lastForm[errorFieldName].focus();
    }
</script>