<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">커뮤니티 사이트</title>

    <meta name="_csrf" th:content="${_csrf.token}"/>

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.7/css/bootstrap.min.css">
    -->

    <script src="/resource/global.js" defer></script>
</head>
<body>

<th:block layout:fragment="content"></th:block>

</body>
</html>